
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0%;
    top: 0;
    width: 100%; /* Full width */
    height: 80vh; /* Full height *//* Enable scroll if needed */
    padding-top: 30px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 5% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  

  /* The Close Button */
  .close {
    z-index: 1001;
    position: absolute;
    right: 195px;
    top: 100px;
    font-size: 40px;
    font-weight: bold;
    color: #000000;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }



  .container img {
    max-width: 100%;
    max-height: 100%;
  }

  input[type=text], input[type=password] {
    width: 100%;
    padding: 8px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    font-size: 14px;
  }

  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }

  button:hover {
    opacity:1;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

  .fields {
    padding: 16px;
    margin-left: 6px;
    font-size: small;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    margin: 0;
    background-image: url('placeholder.jpg');
    background-size: cover;
    background-position: center;
    color: #f1f1f1;
    font-size: 20px;
    font-weight: bold;

  }
  .header h1 {
    font-size: 36px;
    font-weight: bold;
    margin-top: 0px;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    border: 1px;
  }

  .child {
    border: 1px;
  }

.logo img {
  max-width: 60px;
  max-height: 100%;
  vertical-align: middle;
}
.header img {
  padding: 0px 0px 0px 0px;
  max-height: 300px;
  max-width: 100%;
}
hr.line {
  border-color: #A2231D;
  max-width: 300px;
  border-top: 1px solid #000;
  margin: 0 auto;
  
}




  